:root {
    --primary: #5C44BF;
    --secondary: #B7ADEB;
    --gray: #E0E0E3;
    --text: #1E1E63;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff;
    color: var(--text);
    line-height: 1.6;
  }

  header {
    background: linear-gradient(to bottom, var(--secondary), #fff);
    padding: 1rem 2rem;
    text-align: center;
  }

  header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  header p {
    max-width: 600px;
    margin: 0 auto 2rem;
  }

  header button {
    background: var(--primary);
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
header button:hover {
  background-color: #886df1;
}
  section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: auto;
  }

  section p {
    text-align: center;
    justify-content: center;
    display: flex;
     margin-bottom: 2rem;
  }

  .tips-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .tip-box {
    border: 1px solid grey;
    border-top: 5px solid var(--primary);
    padding: 1rem;
    border-radius: 10px;
    background: #fafafa;
    
  }

  .tip-box:hover {
    transform: translateY(-5px) ;
    transition: all 0.2s ease;
  }
  .tip-box h3 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .tip-box p {
    font-size: 0.95rem;
    color: #555;
  }

  .faq-section {
    margin-top: 2rem;
  }

  .faq-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    cursor: pointer;
  }

  .faq-item h4 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    color: #444;
  }

  .faq-item.active .faq-answer {
    max-height: 300px;
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 2rem;
    }
    .faq-title {
      font-size: 1.5rem;
    }
  }